.bg_blue {
  background-color: var(--clr-bg-blue);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: var(--clr-secondary);
    font-size: var(--fs-16);
  }
}

.post {
  background-color: var(--clr-white);
  box-shadow: 0 4px 10px 0 var(--shadow);
  border-radius: 4px;
  padding: 1.375rem 1.5rem;

  .title {
    font-size: var(--fs-26);
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 17px;
  }

  .info {
    display: flex;
    gap: 24px;
    margin-bottom: 12px;
  }
}
