.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: var(--clr-bg-blue);
  color: #fff;
}

.message {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: none;
  border-radius: 10px;
}

.form label .input + span {
  color: var(--clr-blue-transparent);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: var(--clr-secondary);
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: var(--clr-white);
  font-size: 16px;
  transform: 0.3s ease;
  background-color: var(--clr-secondary);
}

.submit:hover {
  background-color: var(--clr-primary);
}
