.container {
  max-width: 1536px;
  min-height: 100vh;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
}

.main {
  flex: 1;
}

// @media (max-width: 1536px) {
//   .container {
//     width: 1366px;
//   }
// }

// @media (max-width: 1366px) {
//   .container {
//     width: 1280px;
//   }
// }

// @media (max-width: 1280px) {
//   .container {
//     width: 1024px;
//   }
// }

// @media (max-width: 1024px) {
//   .container {
//     width: 768px;
//   }
// }

// @media (max-width: 768px) {
//   .container {
//     width: 640px;
//   }
// }

// @media (max-width: 640px) {
//   .container {
//     width: 475px;
//   }
// }

// @media (max-width: 475px) {
//   .container {
//     width: 380px;
//   }
// }

// @media (max-width: 375px) {
//   .container {
//     width: 354px;
//   }
// }
