.header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  gap: 1rem;
  margin: 10px 3rem 0;
  justify-content: center;
  align-items: center;
}

.link {
  color: var(--clr-black);
  font-size: var(--fs-md);
  font-weight: 500;

  transition: 0.3s all ease-in-out;

  &:hover {
    color: var(--clr-primary);
  }
}
