.links {
  display: flex;
  gap: 33px;
  margin: 10px 60px 0 0;
}

// .logoutButton {
//   padding: 0.5rem 1rem;
//   color: var(--clr-text-100);
//   background: transparent;
//   border: 1px solid var(--clr-500);
//   border-radius: 100vw;
//   cursor: pointer;
// }

.menuButton,
.mobileLinks {
  display: none;
}

@media screen and (max-width: 768px) {
  .links {
    display: none;
  }

  .menuButton {
    display: block;
    cursor: pointer;
    font-weight: 500;
  }

  .mobileLinks {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--clr-blue-transparent);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transform: translateX(200%);
    transition: all 0.4s cubic-bezier(0.78, 0.34, 0.1, 1);
  }
}

.menuButton {
  position: fixed;
  top: 20px;
  right: 18px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 100;

  > span,
  span::before,
  span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--clr-dark);
    transition: 0.4s all ease-in-out;
  }
  > span::before {
    content: '';
    top: -8px;
  }

  > span::after {
    content: '';
    top: 8px;
  }
}

.active {
  & span {
    transform: rotate(45deg);
  }

  & span::before {
    top: 0;
    transform: rotate(0deg);
  }

  & span::after {
    top: 0;
    transform: rotate(90deg);
  }
}

.activeNav {
  transform: translateX(0%);
}
