.navlink {
  color: var(--clr-black);
  font-size: var(--fs-md);
  font-weight: 500;

  transition: 0.3s all ease-in-out;

  &:hover {
    color: var(--clr-primary);
  }
}

.active {
  color: var(--clr-primary);
}
